@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, rgba(100,30,150),rgba(190,90,200));
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

input, button{
    outline: none !important;
    border:0;
}

.search{
    position: relative;
    height:50px;
}

input{
    padding:6px;
    width:50px;    
     height:50px; 
    font-size: 24px;
    transition: width 0.4s ease;
}

button{
    background-color: white;
    padding:6px;
    width:50px;
    height:50px; 
    font-size: 24px;
        position:absolute;
    top:0;
    left:0;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.search.active input{
    width:210px;
}

.search.active button{
    transform: translateX(198px);
    
}